*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/***** body *****/

body{
    font-family: 'Roboto', sans-serif;
    /*background-color: aquamarine;  initial */
    min-width: 1270px;
}


/***** header *****/
header{
    background-image: url('../../img/background-header.png');
    background-color: #0C325A;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 500px;  
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    height: 60px;
    
}

/* logo */
.logo{
    width: 15%;
    margin-top: 5px;
    line-height: 60px;
    float: left;
}

/* left menu */
.left{
    width: 45%;
    line-height: 60px;
    float: left;
}

.left ul li{
    display: inline-block;
    list-style: none;
}

.left ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 8px;
    font-size: 12px;
    color: white;
}

/* right menu */
.right{
    text-align: right;
    width: 40%;
    line-height: 60px;
    float: left;
}

.right a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 8px;
    font-size: 12px;
    color: white; 
}

.button{
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.outline{
    border: 1px solid white;
}

.solid{
    background-color: #7CBB02;
}

/* eyecatcher title */
.title{
    width: 40%;
    margin-top: 120px;
    color: white;
    font-size: 20px;    
}

#main_button{
    width: fit-content;
    padding: 15px;
    margin-top: 15px;

}





/***** main *****/

main{
    /* background-color: darkslateblue; initial */
    height: 1200px;    
}


/* grey upper band */
.greyband{
    height: 120px;
    width: 100%;
    background-color: rgb(189, 186, 186);
    text-align: center;
}

#titlegrey{
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 30px;
    
}

#textgrey{
    margin-top: 5px;
    color: grey;
    
}

/* course features central band */
.section{
    float: left;
    width: 31%;
    margin: 2.5px;
    margin-top: 20px;
    padding: 10px;
}

.img_section {
    background-size: 100%;
    width: 120px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 30%;
}

.smaller{
    width: 25%;
    margin: 15px auto;
    color: grey;
    height: 1px;
}

.titlegreen{
    color: #7CBB02;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
} 

.lorem{
    text-align: center;
    color: grey;
}


/* left section */
.img_l{
    background-image: url('../../img/profile.svg');
}

/* center section */
.img_c{
    background-image: url('../../img/computer.svg');
}


/* right section */
.img_r{
    background-image: url('../../img/doc.svg');
}







/***** footer *****/

footer{
    background-color: dodgerblue; /* initial */
    height: 200px;
    
}


